<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>社員登録</title>
</head>
<body>
<div layout:fragment="content">
    <h1>社員登録</h1>

    <form th:action="@{/employees}" method="post">
        <div class="mb-3">
            <label class="form-label">氏名</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">給与</label>
            <input type="number" name="salary" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">登録</button>
        <a th:href="@{/employees}" class="btn btn-secondary">キャンセル</a>
    </form>
</div>
</body>
</html>
